{% extends "base.html" %}


{% block content %}
    <div><br/>
    <h1>Register as a Business</h1>
    <p> Welcome to the Company registration page!</p>
    </div>
    <h2 class="text-center mb-4">Register your company for our services</h2>
        <form method="post" action="{% url 'Company_registration' %}">
            {% csrf_token %}
            <div class="container">
                <center>
                <div class="col-md-11">  
                    <input type="text" class="form-control" placeholder="Company name" name="name">
                </div><br/>
                <div class="col-md-11">
                    <input type="email" class="form-control" placeholder="Email address" name="email">
                </div><br/>
                <div class="col-md-11">  
                    <input type="text" class="form-control" placeholder="Contact number" name="phone">
                </div><br/>
                <div class="col-md-11">  
                    <input type="text" class="form-control" placeholder="Username" name="username">
                </div><br/>
                <div class="col-md-11">
                    <input type="password" class="form-control" placeholder="password" name="password1">
                </div><br/>
                <div class="col-md-11">
                    <input type="password" class="form-control" placeholder="confirm password" name="password2">
                </div>
                <br/>
                <div class="col-sm-2">                 
                <button type="submit" class="btn btn-primary btn-block">Register</button>
                </div>
            </div>
            </center>
        </form>

{% endblock %}