{% extends "base.html" %}

{% block content %}
    <h1>Register as a technician</h1>
    <p> Welcome to the Technician page!</p>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">Register as a technician</h2>
                <form action=" {% url 'Technician_registration' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Full name" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="username" required>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="email@example.com" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="phone" placeholder="contact" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password1" placeholder="password1" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password2" placeholder="password2" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}