{%extends 'base.html'%}

{%block content%}
<center>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
        <h1>About the Ticket Management System</h1><br/>

Welcome to the Ticket Management System, my webstack portfolio project!
<br/>
<strong>Project Overview</strong>
<br/>
This project serves as both a demonstration of my skills and a practical tool for managing and tracking various aspects of ticket management and user feedback. It showcases my expertise in web development and highlights my ability to create a robust and user-friendly web application.
<br/>
<strong>What It Does</strong>
<br/>
<strong>Ticket Management</strong>
<br/>
- <strong>Create Tickets</strong>: Users can create new tickets to report issues or request assistance.
- <strong>Track Tickets</strong>: Tickets can be tracked from submission to resolution, ensuring transparency.
- <strong>Assign Roles</strong>: Different user roles (Company, Technician, Dispatcher) allow for precise ticket handling.
<br/>
<strong>User Feedback</strong>
<br/>
- <strong>User Feedback</strong>: Users can provide valuable feedback about their experiences.
- <strong>Continuous Improvement</strong>: Feedback is essential for making continuous improvements to the system.
<br/>
<strong>User Profiles</strong>
<br/>
- <strong>User Profiles</strong>: Users can maintain their profiles and update information as needed.
<br/>
- <strong>Role-Based Access</strong>: Access to certain features is determined by user roles.
<br/>
<strong>Purpose of This Project</strong>
<br/>
This project is a part of my portfolio and aims to demonstrate my skills and capabilities in web development and application design. It's designed to showcase my ability to create web applications that are not only functional but also user-friendly and intuitive.
<br/>
The Ticket Management System reflects my commitment to building efficient, reliable, and maintainable software solutions. It's a testament to my passion for technology and my dedication to delivering high-quality web applications that meet real-world needs.
<br/>
Feel free to explore the various features and functionalities of the Ticket Management System. If you have any questions or feedback, please don't hesitate to get in touch. Thank you for visiting!
<br/>
<strong>Contact Information</strong>
<br/>
For inquiries or feedback, please contact Josaya at ngecemlamli@gmail.com.

    </p>
</div>
</div>
</div>
</center>
{%endblock%}