<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title%} Ticket Management System {%endblock%} </title>

    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Add your custom CSS if needed -->
    <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-custom">
    <div class="container">
        <a class="navbar-brand" >
            <img class="navbar-logo" src="{% static 'images/logo.png' %}" alt="Logo">
        </a>
        <a class="btn btn-primary" href="{% url 'home'%}" role="button">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">voops</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                
                {% if user.is_authenticated %}
                <a class="btn btn-primary mr-2" href="{% url 'logout'%}" role="button">Logout</a>
            
                <li class="nav-item">
                    <a class="btn btn-primary mr-2" href="{% url 'Update_profile'%}">Update Profile </a>
                </li>
                {% if user.role == 'company' %}
                <div class="dropdown">
                  <button class="btn btn-info dropdown-toggle mr-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tickets
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'My_ticket_list'%}">My Tickets</a>
                    <a class="dropdown-item" href="{% url 'Ticket_registration'%}">Create Ticket </a>
                  </div>
              </div>
                {% endif %}
                {% if user.role == 'technician' %}
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle mr-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Tickets
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{% url 'My_ticket_list'%}">My Tickets</a>
                      <a class="dropdown-item" href="{% url 'Approved_ticket_list'%}">Approved Tickets</a>
                      <a class="dropdown-item" href="{% url 'All_ticket_list'%}">All Tickets</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle mr-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Associates
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{% url 'All_company_list'%}">Companies</a>
                      <a class="dropdown-item" href="{% url 'All_technician_list'%}">Technicians</a>
                      <a class="dropdown-item" href="{% url 'All_dispatcher_list'%}">Dispatchers</a>
                    </div>
                </div>
                {% endif %}
                {% if user.role == 'dispatcher' %}
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle mr-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Tickets
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{% url 'My_ticket_list'%}">My Tickets</a>
                      <a class="dropdown-item" href="{% url 'Approved_ticket_list'%}">Approved Tickets</a>
                      <a class="dropdown-item" href="{% url 'All_ticket_list'%}">All Tickets</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle mr-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Associates
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{% url 'All_company_list'%}">Companies</a>
                      <a class="dropdown-item" href="{% url 'All_technician_list'%}">Technicians</a>
                      <a class="dropdown-item" href="{% url 'All_dispatcher_list'%}">Dispatchers</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle mr-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Feedback
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{% url 'Feedback_list'%}">All Feedback</a>
                      <a class="dropdown-item" href="{% url 'All_technician_list'%}">Posted</a>
                    </div>
                </div>
                {% endif %}
                {% else %}
                <a class="btn btn-primary mr-2" href="{% url 'login'%}" role="button">Login</a>  
                <a class="btn btn-primary mr-2" href="{% url 'about'%}" role="button">About</a>
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle mr-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Register
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="{% url 'Company_registration'%}">Company</a>
                      <a class="dropdown-item" href="{% url 'Technician_registration'%}">Technician</a>
                      <a class="dropdown-item" href="{% url 'Dispatcher_registration'%}">Dispatcher</a>
                    </div>
                </div>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

{% for message in messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}


<!-- Content Container -->
<div class="content-container" style="background-image: url('{% static "images/loneliness-desk.avif" %}');
                                           background-repeat: no-repeat;
                                           background-size: cover;
                                           background-attachment: fixed;">
    {% block content %}{% endblock %}
</div>
<br/><br/>
<!-- Footer -->
<footer class="footer">
    <div class="container">
        <p>&copy; 2023 By Josaya. All Rights Reserved.</p>
    </div>
</footer>

<!-- Add Bootstrap JS and jQuery (You can replace these with your own links) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>