{%extends 'base.html'%}

{%block content%}
    <h1>Home Page</h1>

    <p class="lead">Welcome to the home page!</p>

    <hr/>
    
    <!-- Scrolling Image Section -->
    <div class="scrolling-image">
        <img src="static/images/london.svg" alt="Scrolling Image"/>
    </div>

    <!-- User Comments Section -->
    <div class="container mt-4">
        <div class="row">
            {% for feed in feedbacks %}
            {% if feed.status == 'Posted' %}
            <!-- User Comment 1 -->
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{feed.name}}</h5>
                        <p class="card-text">Email: {{feed.email}}</p>
                        <p class="card-text">Comment: {{feed.comment}}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <!-- User Comment 2 -->
        </div>
    </div>
<hr/>
    <!-- Feedback Form Section -->
    <div class="container mt-4" style="background-color: #e6e6e6;" >
        <h2>Provide Your Feedback</h2>
        <br/>
        <form method="post" action="{% url 'Feedback_registration'%}" >
            {% csrf_token %}
            <div class="row">
            <div class="col">
            <div class="row">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Your name" name="name">
                </div>
                <div class="col">
                  <input type="email" class="form-control" placeholder="Your email" name="email">
                </div>
            </div><br/>
            <div class="mb-2">
                <label class="form-label"><strong>Comment on our services:</strong> </label>
                <textarea class="form-control" rows="3" name="comment"></textarea>
            </div>
            </div>
            <div class="col">
            <br/>
            <button type="submit" class="btn btn-primary">Submit Feedback</button>
            <br/><br/>
            <label for="rating" class="form-label">Rate our service on a scale of 1 to 5</label>
            <br/>
            <select class="form-select" id="rating" name="rating">
                <option value="1">1 Star</option>
                <option value="2">2 Star</option>
                <option value="3">3 Star</option>
                <option value="4">4 Star</option>
                <option value="5">5 Star</option>
            </select>

            </div>
        </form>
    </div>
    
{%endblock%}
