{% extends 'base.html' %}

{% block content %}
    <h1>Technicians</h1>
    <p> All our technicians  !!!</p>
    <center>
      <table class="table table-hover" >
        <thead>
            <tr>
              <th scope="col">Full name</th>
              <th scope="col">Email</th>
              <th scope="col">Contact</th>
            </tr>
        </thead>
        <tbody>
          {% for technician in technicians %}
            <tr>
              <td>{{technician.name}}</th>
              <td>{{technician.email}}</td>
              <td>{{technician.phone}}</td>
              <td>
              <a href="{% url 'Technician_detail' pk=technician.pk %}">
                <img src="/static/icons/info-square.svg" alt="Logo">
              </a>
              </td>
            </tr>
        {% endfor %}    
        </tbody>
    </table>
    </center>
{% endblock %}