{% extends 'base.html' %}

{% block content %}
    <h1>Companies</h1>
    <p> All companies affiliated for our services !!!</p>
    <center>
    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">First</th>
              <th scope="col">Last</th>
              <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
        </tbody>
    </table>
    </center>
{% endblock %}