{% extends 'base.html' %}

{% block content %}
    <h1>Tickets</h1>
    <p> All tickets filed, please note some are waiting for approval !!!</p>
    <center>
      <table class="table table-hover table-bordered" >
        <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Date created</th>
              <th scope="col">Date updated</th>
              <th scope="col">Status</th>
              <th scope="col">Company</th>
              <th scope="col">Assigned Technician</th>
              <th scope="col">Dispatcher</th>
              <th scope="col">Info</th>
            </tr>
        </thead>
        <tbody>
          {% for ticket in tickets %}
            <tr>
              <td>{{ticket.id}}</th>
              <td>{{ticket.title}}</th>
              <td>{{ticket.description}}</td>
              <td>{{ticket.created_date}}</td>
              <td>{{ticket.updated_date}}</th>
              <td>{{ticket.status}}</td>
              <td>{{ticket.company}}</td>
              <td>{{ticket.technician}}</td>
              <td>{{ticket.dispatcher}}</td>
              <td>
                <a href="{% url 'Ticket_detail' pk=ticket.pk %}">
                  <img src="/static/icons/info-square.svg" alt="Logo">
                </a>
              </td>
            </tr>
        {% endfor %}    
        </tbody>
    </table>
    </center>
{% endblock %}