{% extends 'base.html' %}

{% block content %}
    <h1>Feedbacks</h1>
    <p> Our customers have spoken  !!!</p>
    <center>
      <table class="table table-hover table-bordered" >
        <thead class="thead-dark">
            <tr>
              <th scope="col">Custoner name</th>
              <th scope="col">Email</th>
              <th scope="col">Comment</th>
              <th scope="col">Rating</th>
              <th scope="col">Status</th>
              <th scope="col">Info</th>
            </tr>
        </thead>
        <tbody>
          {% for feedback in feedbacks %}
            <tr>
              <td>{{feedback.name}}</th>
              <td>{{feedback.email}}</td>
              <td>{{feedback.comment}}</td>
              <td>{{feedback.rating}} Star</td>
              <td>{{feedback.status}}</td>
              <td>
              <a href="{% url 'Feedback_detail' pk=feedback.pk %}">
                <img src="/static/icons/info-square.svg" alt="Logo">
              </a>
              </td>
            </tr>
        {% endfor %}    
        </tbody>
    </table>
    </center>
{% endblock %}