{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div><br/>
    <h1>Welcome to the update page</h1>
    <p> You can update your company profile information here !</p>
    </div>
    <h2 class="text-center mb-4">Update profile</h2>
        <form action=" {% url 'Update_company/<int:pk>/' %}" method="POST">
            {% csrf_token %}
            <form class="row g-3">
                <center>
                <div class="col-md-11">  
                    <input type="text" class="form-control" placeholder="Company name" name"name">
                </div><br/>
                <div class="col-md-11">
                    <input type="email" class="form-control" placeholder="Email address" name"email">
                </div><br/>
                <div class="col-md-11">  
                    <input type="text" class="form-control" placeholder="Contact number" name"contact">
                </div><br/>
                <div class="col-md-11">  
                    <input type="text" class="form-control" placeholder="Username" name"username">
                </div><br/>
                <div class="col-md-11">
                    <input type="password" class="form-control" placeholder="password" name"password1">
                </div><br/>
                <div class="col-md-11">
                    <input type="password" class="form-control" placeholder="confirm password" name"password2">
                </div>
                <br/>
                <div class="col-md-11">  
                    <input type="text" class="form-control" placeholder="Address line 1" name"address">
                </div><br/>
                <div class="container">   
                <div class="row" mx-auto>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" placeholder="City" name="city">
                    </div>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" placeholder="Surburb" name="surbub">
                    </div>
                    <div class="col-sm-3">
                      <input type="text" class="form-control" placeholder="Zip" name="zip_code">
                    </div>   
                </div>
                </div>
                <br/>
                <div class="col-sm-2">                 
                <button type="submit" class="btn btn-primary btn-block">Register</button>
                </div>
            </center>
        </form>

{% endblock %}