{% extends 'base.html' %}

{% block content %}
    <h1>Feeback</h1>
    <p> Feedback information!</p>
    <center>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">
            <strong>Name: </strong>{{feedback.name}}
          </h5><hr/>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            <strong>Email: </strong>{{feedback.email}}
          </h6><hr/>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            <strong>Comment: </strong>{{feedback.comment}}
          </h6><hr/>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            <strong>Rating: </strong>{{feedback.rating}}
          </h6><hr/>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            <strong>Status: </strong>{{feedback.status}}
          </h6><hr/>
          <a class="btn btn-primary" href="{% url 'home' %}" role="button">Home</a>
          {% if user.role == 'dispatcher' %}
          <a href="{% url 'Delete_feedback' pk=feedback.pk %}" class="card-link">
            <img src="/static/icons/trash3.svg" alt="Logo">
          </a>
          <a href="{% url 'Post_feedback' pk=feedback.pk %}" class="card-link">
            <img src="/static/icons/upload.svg" alt="Logo">
          </a>
          <a href="{% url 'Remove_feedback' pk=feedback.pk %}" class="card-link">
            <img src="/static/icons/file-earmark-x.svg" alt="Logo">
          </a>
          {% endif %}
        </div>
      </div> 
    </center>
      <br/><hr/><br/>

{% endblock %}