{% extends 'base.html' %}

{% block content %}
    <h1>Technician</h1>
    <p> Technician information!</p>
    <center>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">
            <strong>Name: </strong>{{technician.name}}
          </h5><hr/>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            <strong>Phone: </strong>{{technician.phone}}
          </h6><hr/>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            <strong>Email: </strong>{{technician.email}}
          </h6>
          
          <a href="{% url 'Update_profile' %}" class="card-link">
            <img src="/static/icons/edit.svg" alt="Logo">
          </a>
          <a href="{% url 'My_ticket_list'%}" class="card-link">Tickets</a>
        </div>
      </div>
    </center>
      <br/><hr/><br/>

{% endblock %}