{% extends 'base.html' %}

{% block content %}
    <h1>Ticket</h1>
    <p> Ticket information!</p>
    <center>
    <div class="card" style="width: 32rem;">
        <div class="card-body">
          <strong>TITLE:</strong>
          <h5 class="card-title"> {{ticket.title}} </h5><hr/>
          <strong>STATUS:</strong>
          <h6 class="card-subtitle mb-2 text-body-secondary">{{ticket.status}}</h6><hr/>
          <strong>DISCRIPTION:</strong>
          <p class="card-text">{{ticket.description}}</p><hr/>
          <strong>CREATED ON:</strong>
          <p class="card-text">{{ticket.created_date}}</p><hr/>
          <strong>LAST UPDATED:</strong>
          <p class="card-text">{{ticket.updated_date}}</p><hr/>
          <strong>COMPANY:</strong>
          <p class="card-text">{{ticket.company}}</p><hr/>
          <strong>ASSIGNED TECHNICIAN:</strong>
          <p class="card-text">{{ticket.technician}}</p><hr/>
          <strong>DISPATCHER:</strong>
          <p class="card-text">{{ticket.dispatcher}}</p><hr/>
          <strong>TECHNICIAN's COMMENT:</strong>
          <p class="card-text">{{ticket.tech_comment}}</p><hr/>
          {% if user.role == 'dispatcher' %}
          <a href="#" class="card-link">Approve</a>
          <a href="#" class="card-link">Reject</a>
          <a href="#" class="card-link">Delete</a>
          {% elif user.role == 'technician' %}
          <a href="#" class="card-link">Accept</a>
          <a href="#" class="card-link">Reject</a>
          <a href="#" class="card-link">Nothing</a>
          {% endif %}
        </div>
      </div>
    </center>
      <br/><hr/><br/>

{% endblock %}